<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/image/weather.png" type="image/x-icon">
    <title>about me</title>
</head>
<body>
    {{>header}}
    <main>
      <h1>About us</h1>
    <img src="/image/me.jpg" alt="">
    <p>{{data}}</p>
    </main>
    {{>footer}}
</body>
</html>
